<!--photo/templates/photo/list.html-->
{% extends 'base.html' %}

{% block title %}- Diagonosis{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <p><img src="{{object.photo.url}}" style="width:100%;"></p>

        <p>{{object.text|linebreaksbr}}</p>
        <!-- HTML은 기본적으로 공백문자를 인식하지 못하는데 linebreaksbr 필터를 사용하면 줄바꿈이 일어나는 곳에 <br> 태그를 추가! -->

        <a href="{% url 'photo:photo_delete' pk=object.id %}" class="btn btn-outline-danger btn-sm float-right">
            Delete
        </a>
        <a href="{% url 'photo:photo_update' pk=object.id %}" class="btn btn-outline-danger btn-sm float-right">
            Update
        </a>
        <button type="button" class="btn btn-outline-submit btn-sm float-left">
            {{object.author.username}}
        </button>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock%}

{% block items %}
<form>
    <select name="items" size='10' style="width: 200px;">
        <option>{{object.photo.url}}</option>
        <option>test02</option>
        <option>test03</option>
        <option>test04</option>
    </select>
</form>
<p></p>
<button type="submit" onclick="alert('이미지 경로 지정')">이미지 출력</button>
<button type="submit" onclick="alert('다이콤 경로 지정')">다이콤 출력</button>
{% endblock%}