<!--photo/templates/photo/list.html-->
{% extends 'base.html' %}

{% block title %}- Diagnosis{% endblock %}



<!--중앙의 Contents가 되는 부분-->
{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <!--이미지 출력및 Description 출력-->
        <p><img src="{{object.photo.url}}" alt="No image" style="width:50%;"></p>
        <p>{{object.photo.url}}</p>
        <p>{{object.text}}</p>
        <p>{{object.created}}</p>
        <!-- HTML은 기본적으로 공백문자를 인식하지 못하는데 linebreaksbr 필터를 사용하면 줄바꿈이 일어나는 곳에 <br> 태그를 추가! -->
        <!-- 'photo:photo_update' = urls.photo_update 함수와 연결 -->
        <!--Delete 버튼-->
        <a href="{% url 'photo:photo_delete' pk=object.id %}" class="btn btn-outline-danger btn-sm float-right">
            Delete
        </a>
        <!--Update 버튼-->
        <!--
        <a href="{% url 'photo:photo_update' pk=object.id %}" class="btn btn-outline-danger btn-sm float-right">
            Update
        </a>
        -->
        <!--Predict 버튼-->
        <a href="{% url 'photo:photo_predict' pk=object.id %}" class="btn btn-outline-primary btn-sm float-right">
            Predict page
        </a>


        <!--업로드한 사용자 버튼-->
        <button type="button" class="btn btn-outline-submit btn-sm float-left">
            {{object.author.username}}
        </button>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock%}