<!--photo/templates/photo/list.html-->
{% extends 'base.html' %}

{% block title %}- List{% endblock %}

{% block content %}
{% for post in photos %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <p><img src="{{post.photo.url}}" style="width:50%;" alt="Image Error"></p>
        <p>{{post.text}}</p>
        <p>{{post.created}}</p>
        <p class="text-right">
            <button type="button" class="btn btn-xs btn-info">
                {{post.author.username}}
            </button>
            <a href="{% url 'photo:photo_diagnosis' pk=post.id %}" class="btn btn-xs btn-success">Diagnosis</a>
        </p>
    </div>
    <div class="col-md-2"></div>
</div>
{% endfor %}
{% endblock %}