{% extends 'base.html' %}
{% block title %}- Predict{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <p>Input Image</p>
        <p><img src="{{photos.photo.url}}" id="img_url" alt="No image" style="width:50%;"></p>
        <input type='button' id="SaveImg" value="Save Img" class="btn btn-outline-primary btn-sm float-right">

    </div>
    <div class="col-md-2"></div>
</div>
{% endblock%}

{% block items %}
<div id="text_area">
    <h1>Test Page</h1>
    <p>{{photos.photo.url}}</p>
    <p>{{photos.pk}}</p>
</div>
{% endblock%}

{% block head %}
<script type="text/javascript">
    //click 이벤트 발생시, id_a 영역에 function(void) 실행
    $(document).on("click", "#SaveImg", function () { //만약 ID를 통해 불러오고 싶으면?
        //변수 선언
        var c_data = {};
        var url_path = "{{photos.photo.url}}";
        //c_data의 click event는 'a'의 value를 가짐
        c_data['click'] = 'a';

        $.ajax({
            //type : 'GET','POST', 'DELETE', 'PUT'
            type: 'GET',
            //url: ".",
            // dataType: "json",
            data: c_data,

            success: function () {
                alert('success');
                alert(url_path);
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                alert("error:" + error);

            },
        }).done(function (msg) { // 완료시 작동되는 function (a)는 request를 통해 들어온 Data

            $("#text_area").append("done : " + msg['paths'] + "<_br />");

        });

    });
</script>
{% endblock%}